{% extends 'setting/add_show.html.twig' %}
{% block menu %}
   <div class="col-md-3">
   <ul>
    <li><a href=" ">Study ype</a></li>
    <li><a href=" ">Funding Source</a></li>
    <li><a href=" ">Study Team</a></li>
    <li><a href=" ">Researcher Involvement Type</a></li>
   </ul>
   </div>
   
{% endblock %}


