{% extends 'base.html.twig' %}

{% block title %}Edit InvolvementType{% endblock %}

{% block body %}
    <h1>Edit InvolvementType</h1>

    {{ include('involvement_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('involvement_type_index') }}">back to list</a>

    {{ include('involvement_type/_delete_form.html.twig') }}
{% endblock %}
