
<!-- Modal -->
<div id="researchteamModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Team</h4>
      </div>
      <div class="modal-body">


   {{ form_start(researchteamform)}}
   {{ form_widget(researchteamform)}}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" >Submit</button>
      {{ form_end(researchteamform)}}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{% block javascripts %}
<script>

</script>
{% endblock %}
