{% extends "dashboard.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
 
{% block body %}
    <div class="alert alert-success border-left-2 border-success ">
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}

    <div>
{% endblock body %}
