{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="{{ path('home')}}">Home</a>
    </li>
    <li>
        <a href="{{ path('study_index')}}">Study</a>
    </li>
    <li class="active">New Study</li>
{% endblock %}
{% block pageheader %}
    <a href="{{ path('study_index') }}" class="btn btn-sm btn-success">back to list</a>
{% endblock %}

{% block body %}

    {{ include('study/_form.html.twig', {'edit' : '0'}) }}


{% endblock %}
