{% extends 'base.html.twig' %}

{% block title %}System Config{% endblock %}


{% block breadcrumb %}
    <li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="{{ path('home') }}">Home</a>
							</li>
							<li class="active">System Config</li>
{% endblock %}
{% block pageheader %}
		<h1>
								
								<small>
								</small>
							</h1>
    
{% endblock %}

{% block body %}
{{ form(form) }}


{% endblock %}
