{% extends 'dashboard.html.twig' %}


{% block body %}
    <h1>Access Denied</h1>

    <p>
        You do not have permssion to access the page you requested  <br> <a href="{{ path('main') }}">return to the homepage</a>.
    </p>
{% endblock %}