{% extends 'base.html.twig' %}

{% block title %}New StudyResearchTeam{% endblock %}

{% block body %}
    <h1>Create new StudyResearchTeam</h1>

    {{ include('study_research_team/_form.html.twig') }}

    <a href="{{ path('study_research_team_index') }}">back to list</a>
{% endblock %}
