{% extends "dashboard.html.twig" %}

{% block body %}
 <div class=" ace-save-state" >
        <div class="main-content">
                <div class="page-content">
{% include "FOSUser/Resetting/request_content.html.twig" %}
</div>
</div>
</div>
{% endblock body %}
