{% extends 'base.html.twig' %}

{% block title %}New dataowner {% endblock %}

{% block body %}
    <h1>Create new </h1>

    {{ include('submission/_form.html.twig') }}

    <a href="{{ path('submission_index') }}">back to list</a>
{% endblock %}
