{% extends 'base.html.twig' %}

{% block title %}Edit StudyType{% endblock %}

{% block body %}
    <h1>Edit StudyType</h1>

    {{ include('study_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('study_type_index') }}">back to list</a>

    {{ include('study_type/_delete_form.html.twig') }}
{% endblock %}
