{% extends 'base.html.twig' %}

{% block title %}New EmailMessage{% endblock %}

{% block body %}
    <h1>Create new EmailMessage</h1>

    {{ include('email_message/_form.html.twig') }}

    <a href="{{ path('email_message_index') }}">back to list</a>
{% endblock %}
