<form method="post" action="{{ path('study_external_source_delete', {'study': study_external_source.study}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ study_external_source.study) }}">
    <button class="btn">Delete</button>
</form>
